USE [master]
GO
/****** Object:  Database [UsersDB]    Script Date: 8/5/2020 4:40:19 PM ******/
CREATE DATABASE [UsersDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UsersDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\UsersDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UsersDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\UsersDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsersDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsersDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/5/2020 4:40:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](200) NULL,
	[LastName] [nvarchar](200) NULL,
	[Age] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Age]) VALUES (4, N'Update', N'Update', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  StoredProcedure [dbo].[CreateUser]    Script Date: 8/5/2020 4:40:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CreateUser]
	@FirstName nvarchar(200),
	@LastName nvarchar(200),
	@Age int
AS
SET NOCOUNT ON;
BEGIN
    INSERT INTO Users (FirstName, LastName, Age)
    VALUES (@FirstName, @LastName, @Age)
    SELECT CAST(SCOPE_IDENTITY() AS int)
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 8/5/2020 4:40:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUser]
	@Id int
AS
BEGIN
	DELETE FROM Users
	WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[GetUser]    Script Date: 8/5/2020 4:40:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUser]
	@Id int
AS
BEGIN
	SELECT Id, FirstName, LastName, Age FROM Users
	WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 8/5/2020 4:40:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsers]
AS
BEGIN
	SELECT Id, FirstName, LastName, Age FROM Users
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 8/5/2020 4:40:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser]
	@Id int,
	@FirstName nvarchar(200),
	@LastName nvarchar(200),
	@Age int
AS
BEGIN
	UPDATE Users
	SET FirstName = @FirstName, LastName = @LastName, Age = @Age 
	WHERE Id = @Id
END
GO
USE [master]
GO
